<section style="padding-top: 10px; padding-bottom: 10px;" class="section">
  <h2 style="margin-top: 10px; margin-bottom: 20px;">Warum mit uns zusammenarbeiten?</h2>
  <div class="section_grid row justify-content-center">
    <!-- Loop over data.items -->
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-ai-100.png" />
      <h4>Nutzen Sie unser Know-how für Ihren Erfolg</h4>
      <p>Wir verstehen, worauf es im DevOps-Bereich ankommt. Unsere Recruiter finden passgenaue Spezialisten für Ihre Herausforderungen – ob Kubernetes, CI/CD, Cloud oder Monitoring.</p>
    </div>
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-user-engagement-male-100.png" />
      <h4>Schnelle Vermittlung aus einem starken Netzwerk</h4>
      <p>Durch unser Netzwerk geprüfter und verlässlicher Interim-Spezialisten können wir Ihnen oft innerhalb von 1–2 Tagen passende Profile vorstellen.</p>
    </div>
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-stacked-organizational-chart-100.png" />
      <h4>Rechtssicher dank Scheinselbstständigkeits-Prüfung</h4>
      <p>Wir schützen Sie vor rechtlichen Risiken: Unsere Prozesse und Vertragsgestaltung berücksichtigen die Anforderungen zur Vermeidung von Scheinselbstständigkeit – für maximale Sicherheit.</p>
    </div>
    <div class="section_grid-item col-12 col-md-6">
      <img width="40" height="40" style="margin-top: 0px; margin-bottom: 0px;" src="/images/icons/icons8-cloud-100.png" />
      <h4>Faire und transparente Konditionen</h4>
      <p>Sie erhalten hochqualifizierte hochqualifizierte Unterstützung zu wettbewerbsfähigen Preisen – ohne versteckte Kosten oder lange Wartezeiten.</p>
    </div>
  </div>
</section>