        <h2 id="message-us-on-linkedin" >Message Us:</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-4 mt-0  mb-3 mb-md-6">
                <div class="card card-team card-has-thumbnail ">
                    <div class="card-thumbnail">
                        <a href="https://www.linkedin.com/in/iisakov/">
                            <img width="140" height="140" style="margin-top: 0px; margin-bottom: 0px;" src="/images/team/ilya-isakov.jpg">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <a href="https://www.linkedin.com/in/iisakov/">
                                <h3>Ilya Isakov</h3>
                            </a>
                        </div>
                        <div class="card-jobtitle">Founder/CEO</div>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/iisakov/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="mailto:customer@ci-cloud.de">
                                <i class="fas fa-square-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4  mb-0 mb-3 mb-md-6">
                <div class="card card-team card-has-thumbnail ">
                    <div class="card-thumbnail">
                        <a href="https://www.linkedin.com/in/maria-pronozenko-8b1b98353/">
                            <img width="140" height="140" style="margin-top: 0px; margin-bottom: 0px;" src="/images/team/maria-pronozenko.jpg">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <a href="https://www.linkedin.com/in/maria-pronozenko-8b1b98353/">
                                <h3>Maria Pronozenko</h3>
                            </a>
                        </div>
                        <div class="card-jobtitle">Senior Counsultant</div>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/maria-pronozenko-8b1b98353/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="mailto:customer@ci-cloud.de">
                                <i class="fas fa-square-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
