<!-- https://github.com/orestbida/cookieconsent -->

{{ if .Site.Params.cookie_banner.enabled }}
<link rel="stylesheet" href="{{ "css/cookieconsent.css" | relURL }}">
{{ $cookieConsent := resources.Get "js/framework/cookieconsent.js" }}
{{ $cookieConsentModeBundle := slice $cookieConsent | resources.Concat "js/cookieConsentModeBundle.js" }}
<script type="text/javascript" src="{{ ($cookieConsentModeBundle | fingerprint).RelPermalink }}"></script>

<!-- Inline script -->
<script>
    window.addEventListener('load', function () {

        // obtain plugin
        var cc = initCookieConsent();

        // run plugin with your configuration
        cc.run({
            current_lang: '{{ .Site.Language.Lang }}', //'de',
            autoclear_cookies: true,                   // default: false
            page_scripts: true,                        // default: false

            // mode: 'opt-in'                          // default: 'opt-in'; value: 'opt-in' or 'opt-out'
            // delay: 0,                               // default: 0
            // auto_language: '',                      // default: null; could also be 'browser' or 'document'
            // autorun: true,                          // default: true
            // force_consent: false,                   // default: false
            // hide_from_bots: true,                   // default: true
            // remove_cookie_tables: false             // default: false
            // cookie_name: 'cc_cookie',               // default: 'cc_cookie'
            // cookie_expiration: 182,                 // default: 182 (days)
            // cookie_necessary_only_expiration: 182   // default: disabled
            // cookie_domain: location.hostname,       // default: current domain
            cookie_path: '/',                       // default: root
            // cookie_same_site: 'Lax',                // default: 'Lax'
            // use_rfc_cookie: false,                  // default: false
            // revision: 0,                            // default: 0

            onFirstAction: function (user_preferences, cookie) {
                // callback triggered only once on the first accept/reject action
            },

            onAccept: function (cookie) {
                // callback triggered on the first accept/reject action, and after each page load
            },

            onChange: function (cookie, changed_preferences) { 
                // If analytics category is disabled => disable google analytics 
                if (!cc.allowedCategory('analytics')) { 
                    typeof gtag === 'function' && gtag('consent', 'update', { 
                        'analytics_storage': 'denied' 
                    }); 
                } 
            }, 

            languages: {
                'de': {
                    consent_modal: {
                        title: 'Wir verwenden Cookies!',
                        description: 'Hallo, diese Website verwendet essentielle Cookies, um ihren ordnungsgemäßen Betrieb zu gewährleisten und Tracking-Cookies, um zu verstehen, wie Sie mit ihr interagieren. Letztere werden erst nach Ihrer Zustimmung gesetzt. <button type="button" data-cc="c-settings" class="cc-link">Lass mich wählen</button>',
                        primary_btn: {
                            text: 'Alle akzeptieren',
                            role: 'accept_all'              // 'accept_selected' or 'accept_all'
                        },
                        secondary_btn: {
                            text: 'Nur notwendige',
                            role: 'accept_necessary'        // 'settings' or 'accept_necessary'
                        }
                    },
                    settings_modal: {
                        title: 'Cookie Einstellungen',
                        save_settings_btn: 'Save settings',
                        accept_all_btn: 'Alle akzeptieren',
                        reject_all_btn: 'Alle ablehnen',
                        close_btn_label: 'Schließen',
                        // cookie_table_caption: 'Cookie list',
                        cookie_table_headers: [
                            { col1: 'Name' },
                            { col2: 'Domain' },
                            { col3: 'Expiration' },
                            { col4: 'Description' }
                        ],
                        blocks: [
                            {
                                title: 'Verwendung von Cookies 📢',
                                description: 'Wir verwenden Cookies, um die Grundfunktionen der Website zu gewährleisten und Ihr Online-Erlebnis zu verbessern. Sie können für jede Kategorie jederzeit die Zustimmung/Abmeldung aktivieren. Weitere Informationen zu Cookies und anderen sensiblen Daten finden Sie in der vollständigen <a href="/privacy/" class="cc-link">Datenschutzrichtlinie</a>.'
                            }, 
                            {
                                title: 'Unbedingt erforderliche Cookies',
                                description: 'Diese Cookies sind für das ordnungsgemäße Funktionieren meiner Website unerlässlich. Ohne diese Cookies würde die Website nicht richtig funktionieren.',
                                toggle: {
                                    value: 'necessary',
                                    enabled: true,
                                    readonly: true          // cookie categories with readonly=true are all treated as "necessary cookies"
                                },
                                cookie_table: [
                                    {
                                        col1: 'cc_cookie',
                                        col2: '.dlake.de',
                                        col3: 'Ca. 182 Tage',
                                        col4: 'Wird verwendet, um sich Ihre Auswahl auf der Website zu merken, hauptsächlich in Bezug auf Sprache und die Zustimmung zu Cookies.',
                                    }
                                ]
                            }, 
                            {
                                title: 'Leistungs- und Analyse-Cookies',
                                description: 'Diese Cookies ermöglichen es uns, das Layout und die Inhalte der Website zu verbessern, um sie für Sie nützlicher zu gestalten.',
                                toggle: {
                                    value: 'analytics',
                                    enabled: false,
                                    readonly: false
                                },
                                cookie_table: [
                                    {
                                        col1: '^_ga',
                                        col2: '.dlake.de',
                                        col3: 'Ca. 400 Tage',
                                        col4: 'Wird von Google Analytics verwendet, um einzelne Nutzer über verschiedene Besuche hinweg zu identifizieren.',
                                        is_regex: true
                                    },
                                    {
                                        col1: '_gcl_au',
                                        col2: '.dlake.de',
                                        col3: 'Ca. 120 Tage',
                                        col4: 'Wird von Google Ads zur Conversion-Verfolgung und zur Messung der Wirksamkeit von Werbekampagnen verwendet.',
                                    }
                                ]
                            },
                            {
                                title: 'Weitere Informationen',
                                description: 'Bei Fragen zu unserer Cookie-Richtlinie und Ihren Auswahlmöglichkeiten wenden Sie sich bitte an <a class="cc-link" href="{{ "/contact/" | relURL }}">Kontaktieren Sie uns</a>.',
                            }
                        ]
                    }
                },
                 'en': {
                    consent_modal: {
                        title: 'We use cookies!',
                        description: 'Hi, this website uses essential cookies to ensure its proper operation and tracking cookies to understand how you interact with it. The latter will be set only after consent. <button type="button" data-cc="c-settings" class="cc-link">Let me choose</button>',
                        primary_btn: {
                            text: 'Accept all',
                            role: 'accept_all'              // 'accept_selected' or 'accept_all'
                        },
                        secondary_btn: {
                            text: 'Reject all',
                            role: 'accept_necessary'        // 'settings' or 'accept_necessary'
                        }
                    },
                    settings_modal: {
                        title: 'Cookie preferences',
                        save_settings_btn: 'Save settings',
                        accept_all_btn: 'Accept all',
                        reject_all_btn: 'Reject all',
                        close_btn_label: 'Close',
                        // cookie_table_caption: 'Cookie list',
                        cookie_table_headers: [
                            { col1: 'Name' },
                            { col2: 'Domain' },
                            { col3: 'Expiration' },
                            { col4: 'Description' }
                        ],
                        blocks: [
                            {
                                title: 'Cookie usage 📢',
                                description: 'We use cookies to ensure the basic functionalities of the website and to enhance your online experience. You can choose for each category to opt-in/out whenever you want. For more details relative to cookies and other sensitive data, please read the full <a href="/en/privacy/" class="cc-link">privacy policy</a>.'
                            }, {
                                title: 'Strictly necessary cookies',
                                description: 'These cookies are essential for the proper functioning of my website. Without these cookies, the website would not work properly.',
                                toggle: {
                                    value: 'necessary',
                                    enabled: true,
                                    readonly: true
                                },
                                cookie_table: [
                                    {
                                        col1: 'cc_cookie',
                                        col2: '.dlake.de',
                                        col3: '~182 days',
                                        col4: 'Used to remember you choices on the web-site, mostly about language and cookies consent.',
                                    }
                                ]
                            }, {
                                title: 'Performance and Analytics cookies',
                                description: 'These cookies allow us to improve the web-site layouts and content to make it more useful for you.',
                                toggle: {
                                    value: 'analytics',
                                    enabled: false,
                                    readonly: false
                                },
                                cookie_table: [
                                    {
                                        col1: '^_ga',
                                        col2: '.dlake.de',
                                        col3: '~400 days',
                                        col4: 'Used by Google Analytics to identify unique users across different visits to a website.',
                                        is_regex: true
                                    },
                                    {
                                        col1: '_gcl_au',
                                        col2: '.dlake.de',
                                        col3: '~120 days',
                                        col4: 'Used by Google Ads for conversion tracking and measuring the effectiveness of advertising campaigns.',
                                    }
                                ]
                            },
                            {
                                title: 'More information',
                                description: 'For any queries in relation to our policy on cookies and your choices, please <a class="cc-link" href="{{ "/contact/" | relURL }}">contact us</a>.',
                            }
                        ]
                    }
                }
            }
        });
    });
</script>
{{ end }}