<a href="#"
   data-cc="c-settings"
   class="cky-btn-revisit-wrapper cky-revisit-bottom-left"
   data-cky-tag="revisit-consent"
   data-tooltip="Consent Preferences"
   style="background-color: #2b3af7;"
   aria-label="Consent Preferences">
    <img src="/images/icons/cookie_icon.png" alt="Revisit consent button">
</a>
<!--<script>-->
<!--  document.getElementById('consent-button').addEventListener('click', function (n) {-->
<!--    n.preventDefault(), M.showSettings(0)-->
<!--  });-->
<!--</script>-->