---
title: Impressum
layout: default
bodyClass: page-contact
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                    <div class="call">
                        <div class="call-box-top">
                            <div class="call-phone"><strong>Freiberufler Ilya Isakov</strong></div>
                            <div class="call-phone"><strong>USt-IdNr.: </strong> DE 334441046 </div>
                            <div class="call-phone"><strong>Phone: </strong> +49 176 72 79 10 77 </div>
                            <div class="call-phone"><strong>Email: </strong>
                                <a href="mailto:{{ .site.Data.contact.email }}">
                                    {{ site.data.contact.email }}
                                </a>
                            </div>
                            <div class="call-phone"><strong>Address: </strong>
                                Berlin
                            </div>
                            <div class="call-phone"><strong>Copyright: </strong>
                                This web pages and their contents are subject to German copyright law.
                                You may use this web pages solely for your non-commercial, personal purposes and/or to learn about listed products and services;
                                Do not copy or post this web pages or  their part on any networked computer or broadcast it in any media and not make any additional representations or warranties relating to this web pages or listed products and services.
                                Should you become aware of a copyright infringement in spite of this, please inform us.
                                Should we become aware of any legal breaches, we shall remove such content immediately.
                            </div>
                            <div class="call-phone"><strong>Privacy: </strong>
                                No data about users or their behaviour on-line is collected to this web pages.
                            </div>
                            <!--                        Amtsgericht München HRB 207 941-->
                            <!--                        Geschäftsführer: -->
                            <!--                        USt-IdNr.: DE -->
                        </div>
                    </div>
                <div class="content mt-4">{{content}}</div>
            </div>
        </div>
    </div>
</div>
